:root {
    --branco: #FFF;
    --preto: #000;
    --azul-marinho: #025159;
    --azul-agua: #03A6A6;
    --azul-clarinho: #DCF0F2;
    --azul-meio-termo: #0396A6;
	--azul-claro: #DFE3E5;
	--vermelho-forte: #B72E2E;
	--cinza-escuro: #4F4C4C;
	--cinza-claro: #F7F4F4;
	--cinza-medio: #D9D9D9;

    
	--planos-cartao-start: #56CCF2;
	--planos-cartao-ultra: #B04CD9;
	--planos-cartao-mega: #E33B3B;
}

/*Body Color*/

body {
    background: linear-gradient(#025159, #03A6A6,#DCF0F2 );
}

/*Header*/

header{
    background-color: var(--preto);
}

nav {
	position:absolute;
	top: 60px;
	right: 25px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    text-align: center;
}

nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: var(--azul-marinho);
	text-decoration: underline;
}

/*Main*/

.imagem-estudos{
    width: 100%;
}


.titulo-de-nivel1, .titulo-de-nivel2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Style Script', cursive;
    color: var(--branco);
    padding: 1em;
    text-shadow: var(--azul-clarinho) 1px 1px 1px;
    background-image: url("background-footer.jpg");
}

.texto {
    font-size: 20px;
    color: var(--branco);
    text-align: center;
}

.paragrafo-de-texto {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: var(--branco);
    padding: 30px;
}

/*Planos*/

.planos {
    background-color: var(--branco);  
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.planos__titulo {
    color: var(--preto);
    font-weight: bold;
    font-size: 40px;
    font-family: 'Style Script', cursive;
    text-align: center;
    margin-bottom: 1.25rem;
}

.planos__cartoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

.cartao {
    display: flex;
    flex-direction: column;
    background-image: url(background-footer.jpg);
    width: 100%;
    max-width: 300px;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px 2px #00000010;
}

.cartao__titulo {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding: .75rem 0;
    margin-bottom: .5rem;
    border-bottom: 1px solid black;
}

.cartao__conteudo {
    padding: 0 15%;
}

.cartao__preco {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;

    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.cartao__texto {
    color: var(--fonte-cinza);
    line-height: 28px;
}

.botao {
	text-align: center;
	display: block;
	width: 100%;
	max-width: 350px;
	box-sizing: border-box;
	padding: 1rem 2rem;
	border: 1px solid var(--branco);
	border-radius: 5px;
}

.cartao__botao {
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    align-self: center;
    padding: .75rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cartao--start {
    color: var(--planos-cartao-start);
}

.cartao--ultra {
    color: var(--planos-cartao-ultra);
}

.cartao--mega {
    color: pink;
}

.cartao__botao--start {
    border-color: var(--planos-cartao-start);
}

.cartao__botao--ultra {
    border-color: var(--planos-cartao-ultra);
}

.cartao__botao--mega {
    border-color: pink;
}

.subtitulo {
    color: var(--branco);
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

/*Vantagens*/

.vantagens {
	display: flex;
    width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.vantagens li {
        display: inline-block;
        text-align: center;
        width: 30%;
        vertical-align: text-top;
        margin: 0 1.5%;
        padding: 30px 20px;
        box-sizing: border-box;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        background-image: url("background-footer.jpg");
}

.titulo-vantagens {
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.vantagens-descricao {
    font-size: 18px;
}

.vantagens li:hover {
    border-color: var(--azul-meio-termo);
}

.vantagens li:hover h3 {
    font-size: 25px;
}

.vantagens li:active {
    border-color: var(--azul-marinho);
}

/*Mapa*/

.mapa {
    padding:3em 0;
}

.mapa p {
	margin: 2em 2em;
	text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

/*video*/

.video {
	width: 560px;
	margin: 2em auto;
}



/*Footer*/

.rodape-principal {
    padding: 20px;
    text-align: center;
    background-image: url(background-footer.jpg);
    color: var(--branco);
    
}

.rodape__social {
    display: flex;
}

.rodape__midia {
    display: block;
    width: 42px;
    height: 42px;
    margin: 2rem 1rem;
}

.rodape__navegacao {
    color: #FFF;
    text-align: center;
    line-height: 3;
}


